<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104444299987-qsrpr1d4f2oajft4ideou1cmri1edi3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104444299987-qsrpr1d4f2oajft4ideou1cmri1edi3t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>104444299987-41cuag79bl2635eod5rphtb03k4hi905.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBznMFaU3KcEgvXSBMN96TOnOt8SSQWyzA</string>
	<key>GCM_SENDER_ID</key>
	<string>104444299987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.martinsmaicon.chatOnline</string>
	<key>PROJECT_ID</key>
	<string>chatonlineflutter-dff15</string>
	<key>STORAGE_BUCKET</key>
	<string>chatonlineflutter-dff15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104444299987:ios:aa5c194dfb879f9a</string>
	<key>DATABASE_URL</key>
	<string>https://chatonlineflutter-dff15.firebaseio.com</string>
</dict>
</plist>